BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
ReflowComments: true
SortIncludes: true
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true